﻿
@{
    Layout = "_LayoutAdmin";
<div class="d-flex justify-content-center">
<div class="nav nav-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-item nav-link active" id="v-pills-all-tab" data-toggle="pill" href="#v-pills-all" role="tab" aria-controls="nav-all" aria-selected="true">Все</a>
  <a class="nav-item nav-link" id="v-pills-start-tab" data-toggle="pill" href="#v-pills-start" role="tab" aria-controls="nav-start" aria-selected="false">Ожидают</a>
  <a class="nav-item nav-link" id="v-pills-process-tab" data-toggle="pill" href="#v-pills-process" role="tab" aria-controls="nav-process" aria-selected="false">В обработке</a>
  <a class="nav-item nav-link" id="v-pills-end-tab" data-toggle="pill" href="#v-pills-end" role="tab" aria-controls="nav-end" aria-selected="false">Обработанные</a>
</div>
</div>
<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-all" role="tabpanel" aria-labelledby="nav-all-tab">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Дополнительная информация</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Модератор</th>
                    <th scope="col"></th>
                    <th scope="col">
                        <div class="form-group" style="margin-bottom: 0px;">
                            <select name="state" id="maxRows" class="form-control" style="width:84px;">

                                <option value="25" selected>25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="5000">Все</option>
                            </select>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Request request in Model.allRequest)
                    @Html.Partial("AllRequest", request)
            </tbody>
        </table>
        <script>
            $(document).ready(function () {

                var dataTable = $("#myTable").DataTable({
                    "language": {
                        "emptyTable": "Нет данных",
                        "paginate": {
                            "next": "Следующая",
                            "previous": "Предыдущая",

                        }
                    },
                    "aLengthMenu": [25],

                    "aoColumns": [null, null, null, null, null, null, null, null],
                    "ordering": false,
                    "searching": false,
                    "order": false,
                    "dom": "<'top'>ct<'top'p><'clear'>",
                });
                $("#maxRows").change(function () {
                    dataTable.page.len(this.value).draw();

                })
            });

        </script>
    </div>
        <div class="tab-pane fade" id="v-pills-start" role="tabpanel" aria-labelledby="nav-start-tab">
            <table class="table" id="myTabled">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Дополнительная информация</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Модератор</th>
                        <th scope="col"></th>
                        <th scope="col">
                            <div class="form-group" style="margin-bottom: 0px;">
                                <select name="state" id="maxRowes" class="form-control" style="width:84px;">

                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="5000">Все</option>
                                </select>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Request request in Model.allRequest)
                    {
                        @if (request.Status == "Обрабатывается" | request.Status == "Обработан")
                        {
                            continue;
                        }
                        @Html.Partial("AllRequest", request)
                    }
                    </tbody>
            </table>
            <script>
                $(document).ready(function () {

                    var dataTable = $("#myTabled").DataTable({
                        "language": {
                            "emptyTable": "Нет данных",
                            "paginate": {
                                "next": "Следующая",
                                "previous": "Предыдущая",

                            }
                        },
                        "aLengthMenu": [25],

                        "aoColumns": [null, null, null, null, null, null, null, null],
                        "ordering": false,
                        "searching": false,
                        "order": false,
                        "dom": "<'top'>ct<'top'p><'clear'>",
                    });
                    $("#maxRowes").change(function () {
                        dataTable.page.len(this.value).draw();

                    })
                });

            </script>
        </div>
        <div class="tab-pane fade" id="v-pills-process" role="tabpanel" aria-labelledby="nav-process-tab">
            <table class="table" id="myTables">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Дополнительная информация</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Модератор</th>
                        <th scope="col"></th>
                        <th scope="col">
                            <div class="form-group" style="margin-bottom: 0px;">
                                <select name="state" id="maxRowss" class="form-control" style="width:84px;">

                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="5000">Все</option>
                                </select>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Request request in Model.allRequest)
                    {
                        @if (request.Status == "Ожидается" | request.Status == "Обработан")
                        {
                            continue;
                        }
                        @Html.Partial("AllRequest", request)
                    }
                </tbody>
            </table>
            <script>
                $(document).ready(function () {

                    var dataTable = $("#myTables").DataTable({
                        "language": {
                            "emptyTable": "Нет данных",
                            "paginate": {
                                "next": "Следующая",
                                "previous": "Предыдущая",

                            }
                        },
                        "aLengthMenu": [25],

                        "aoColumns": [null, null, null, null, null, null, null, null],
                        "ordering": false,
                        "searching": false,
                        "order": false,
                        "dom": "<'top'>ct<'top'p><'clear'>",
                    });
                    $("#maxRowss").change(function () {
                        dataTable.page.len(this.value).draw();

                    })
                });
            </script>
        </div>
        <div class="tab-pane fade" id="v-pills-end" role="tabpanel" aria-labelledby="nav-end-tab">
            <table class="table" id="myTabless">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Дополнительная информация</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Модератор</th>
                        <th scope="col"></th>
                        <th scope="col">
                            <div class="form-group" style="margin-bottom: 0px;">
                                <select name="state" id="maxRowsss" class="form-control" style="width:84px;">

                                    <option value="25" selected>25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="5000">Все</option>
                                </select>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Request request in Model.allRequest)
                    {
                        @if (request.Status == "Ожидается" | request.Status == "Обрабатывается")
                        {
                            continue;
                        }
                        @Html.Partial("AllRequest", request)
                    }
                </tbody>
            </table>
            <script>
                $(document).ready(function () {

                    var dataTable = $("#myTabless").DataTable({
                        "language": {
                            "emptyTable": "Нет данных",
                            "paginate": {
                                "next": "Следующая",
                                "previous": "Предыдущая",

                            }
                        },
                        "aLengthMenu": [25],
                        "zeroRecords": "По вашему запросу ничего не найдено.",
                        "aoColumns": [null, null, null, null, null, null, null, null],
                        "ordering": false,
                        "searching": false,
                        "order": false,
                        "dom": "<'top'>ct<'top'p><'clear'>",
                    });
                    $("#maxRowsss").change(function () {
                        dataTable.page.len(this.value).draw();

                    })
                });
            </script>
        </div>
    </div>


    }
