﻿@model LendingNews.Data.Models.Request


@{
    Layout = "_LayoutAdmin";
}
@using (Html.BeginForm())
{
<div class="container">
    <br /><h2>Просмотр заявки</h2><br /><br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" readonly>
        @Html.LabelFor(x => x.Id, "ID:")<br />
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })

    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Fname, "Имя:")<br />
        @Html.TextBoxFor(x => x.Fname, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(x => x.Fname, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Lname, "Фамилия:")<br />
        @Html.TextBoxFor(x => x.Lname, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(x => x.Lname, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Phone, "Телефон:")<br />
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Email, "E-mail:")<br />
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Message, "Дополнительная информация:")<br />
        @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(x => x.Message, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Track, "Трек:")<br />
        @Html.TextBoxFor(x => x.Track, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(x => x.Track, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Status, "Статус:")<br />
        @Html.DropDownListFor(x => x.Status, new SelectList(new string[] { "Ожидается", "Обрабатывается","Обработан" }), new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Status, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Comment, "Оставьте комментарий к заявке:")<br />
        @Html.TextAreaFor(x => x.Comment, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Comment, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-secondary" style="float:right;">Сохранить</button>
        <a type="button" href="/Admin/Index" class="btn btn-secondary" style="float:left;">Назад</a>

    </div>

    <br /><br /><br /><br />
</div>
}



