﻿@model LendingNews.Data.Models.Request
<title>@ViewBag.Title</title>

@using (Html.BeginForm())
{
<div class="container">
    <br /><h2>Просмотр заявки</h2><br /><br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" readonly>
        @Html.LabelFor(x => x.Id, "ID:")<br />
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })

    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Fname, "Имя:")<br />
        @Html.TextBoxFor(x => x.Fname, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(x => x.Fname, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Lname, "Фамилия:")<br />
        @Html.TextBoxFor(x => x.Lname, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(x => x.Lname, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Phone, "Телефон:")<br />
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Email, "E-mail:")<br />
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Message, "Дополнительная информация:")<br />
        @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(x => x.Message, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Track, "Трек:")<br />
        @Html.TextBoxFor(x => x.Track, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(x => x.Track, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Status, "Статус:")<br />
        @Html.TextBoxFor(x => x.Status, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(x => x.Status, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <a type="button" href="/Home/Find" class="btn btn-secondary" style="float:left;">Назад</a>
    </div>
    <br /><br />

    <br />
    <div class="container">
        <h3>Комментарий модератора: </h3>

        <div class="card">
            <div class="card-header">
                @Model.Admin
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>@Model.Comment</p>
                </blockquote>
            </div>
        </div><br /><br />
    </div>
</div>
}