﻿@model LendingNews.ViewModels.TrackModel
@{
    Layout = "_Layout";
    <title>@ViewBag.Title</title>

    <div class="container">
        <br /><br />
        <h2>Найти заявку</h2>
        <br /><br /><br /><br />
        <form asp-action="Find" asp-controller="Home" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="container">
                <div class="form-group">
                    <label asp-for="Track">Введите трек</label>
                    <input type="text" asp-for="Track" class="form-control" />
                    <span asp-validation-for="Track" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Найти" class="btn btn-outline-dark" style="float:right;" />
                </div>
                <div class="form-group">
                    <a type="button" role="button" class="btn btn-outline-dark" href="Index">Назад</a>
                </div>


            </div>
        </form>
    </div>
}