﻿@model LendingNews.Data.Models.Request

@{
    Layout = "_Layout";
}
<br />
<br />

<div class="container">
    <div class="row justify-content-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/img/1.jpg" alt="Первый слайд">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/img/2.jpg" alt="Второй слайд">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/img/3.jpg" alt="Третий слайд">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="content" style="text-align:center">
<h4>Умер близкий человек? Не беда!</h4>
<p>Оставьте заявку по форме ниже. Мы свяжемся с вами и уточним все детали.</p>
<p>Уже на следующий день гроб будет у вашего дома.</p>
</div>
@using (Html.BeginForm())
{
    <div class="container">
        <br /><h2>Создать заявку</h2><br /><br />

        <div class="form-group">
            @Html.LabelFor(x => x.Fname, "Имя:")<br />
            @Html.TextBoxFor(x => x.Fname, new { @class = "form-control", @id = "fname" })
            @Html.ValidationMessageFor(x => x.Fname, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Lname, "Фамилия:")<br />
            @Html.TextBoxFor(x => x.Lname, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Lname, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Phone, "Телефон:")<br />
            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Email, "E-mail:")<br />
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @type = "email" })
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Message, "Дополнительная информация:")<br />
            @Html.TextAreaFor(x => x.Message, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Message, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">

            <input type="submit" id="submit" value="Добавить" class="btn btn-outline-secondary" style="float:right;" />
            <br /><br /><br /><br />
            <script>

            </script>

        </div>
    </div>
}
