﻿@model LendingNews.Data.Models.User


@{
    Layout = "_LayoutSuperAdmin";
}
@using (Html.BeginForm())
{
    <div class="container">
        <br /><h2>Редактирование Данных</h2><br /><br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" readonly>
            @Html.LabelFor(x => x.Id, "ID:")<br />
            @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })

        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Login, "Логин:")<br />
            @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Login, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password, "Пароль:")<br />
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
        </div>
        
        <div class="form-group">
            <input type="submit" value="Редактировать" class="btn btn-outline-secondary" style="float:right;" />
            <a type="button" href="/SuperAdmin/Index" class="btn btn-secondary" style="float:left;">Назад</a>
            <br /><br /><br /><br />
        </div>
    </div>

}
