﻿@{
    Layout = "_LayoutSuperAdmin";

    <table class="table" id="superTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Логин</th>
                <th scope="col">Пароль</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <select name="state" id="maxRows" class="form-control" style="width:84px;">

                            <option value="25" selected>25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="5000">Все</option>
                        </select>
                    </div>
                </th>
                <th style="width:250px;">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <input class="form-control" id="search" type="text" style="width:150px;"/>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (User admin in Model.allAdmin)
                @Html.Partial("AllAdmin", admin)
        </tbody>
    </table>
    <script>
        var dataTable = $("#superTable").DataTable({
            "language": {
                "zeroRecords": "По вашему запросу ничего не найдено.",
                "paginate": {
                    "next": "Следующая",
                    "previous": "Предыдущая",

                }
            },
            "aLengthMenu": [25],

            "aoColumns": [null, null, null, null,null,null,null],
            "ordering": false,
            "order": false,
            "dom": "<'top'>ct<'top'p><'clear'>",
        });
        $("#maxRows").change(function () {
            dataTable.page.len(this.value).draw();

        });
        $("#search").keyup(function () {
            dataTable.search(this.value).draw();
        });
    </script>
}