﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>@ViewBag.Title</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
                <ul class="nav col-12 col-lg me-lg mb-2 justify-content-start mb-md-0">
                    <li><a href="/Home/Index" class="h4 nav-link px-2 text-secondary">Лендинг</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <a role="button" class="btn btn-outline-light me-2" href="/Home/Find">Отследить</a>
                </form>

                <div class="text-end">
                    <a role="button" class="btn btn-outline-light me-2" href="/Account/Login">Войти</a>

                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

</body>
</html>
