﻿@model User

<tr class="ollstudents" id="ollstudents">
    <th scope="row" id="ids">@Model.Id</th>
    <td>@Model.Login</td>
    <td>@Model.Password</td>
    <td><a href="/SuperAdmin/Edit/@Model.Id" class="btn btn-outline-secondary" role="button">Редактировать</a></td>
    <td><a href="/SuperAdmin/Delete/@Model.Id" class="btn btn-secondary" role="button">Удалить</a></td>
    <td></td>
    <td></td>
</tr>
