﻿@model Request

<tr class="ollstudents" id="ollstudents">
    <th scope="row" id="@Model.Id">@Model.Id</th>
    <td>@Model.Fname</td>
    <td>@Model.Lname</td>
    <td>@Model.Email</td>
    <td>@Model.Phone</td>
    <td>@Model.Message</td>
    <td>@Model.Status</td>
    <td>@Model.Admin</td>
</tr>
<script>

    $(document).ready(function () {
        $("table tbody tr").click(function () {
            var customerId = $(this).find("th:first").html();
            window.location = "/Admin/Request/" + customerId;
        })
    });
</script>
