﻿.text-end {
    float: right;
}

.table > tbody > tr > th {
    vertical-align: middle;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table > tbody > tr > th > div {
    vertical-align: middle;
}
#myTable tbody tr:hover {
    cursor: pointer !important;
    background: #D3D3D3 !important;
}
#myTables tbody tr:hover {
	cursor: pointer !important;
	background: #D3D3D3 !important;
}
#myTabless tbody tr:hover {
	cursor: pointer !important;
	background: #D3D3D3 !important;
}
#myTabled tbody tr:hover {
	cursor: pointer !important;
	background: #D3D3D3 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	color: #999999 !important;
	background-color: #fff !important;
	border-color: #6c757d !important;
	border-radius: .25rem;
	margin: 5px 3px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #fff !important;
	border-color: #6c757d !important;
	background: #6c757d !important;
	box-shadow:none
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
	color: #fff !important;
	border-color: #6c757d !important;
	background: #6c757d !important;
	box-shadow:none
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
	color: #fff !important;
	border-color: #5a6268 !important;
	background: #5a6268 !important;
	box-shadow:none
}
.dataTables_wrapper .dataTables_paginate {
	float: none;
	text-align: center;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
	color: #fff !important;
	background-color: transparent !important;
	background: #6c757d !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: #fff !important;
	background-color: transparent !important;
	background: #5a6268 !important;
	border-color:#5a6268 !important;
}
table.dataTable thead th, table.dataTable thead td {
	padding: 10px;
	border-bottom: 1px solid #6c757d;
}
table.dataTable.no-footer {
	border-bottom: 1px solid #6c757d;
}
#carouselExampleIndicators{
	width:80%;
}
.carousel-item{
	height:500px;
}
textarea.form-control {
	min-height: 100px;
}
#v-pills-all-tab, #v-pills-start-tab, #v-pills-process-tab, #v-pills-end-tab {
	color: black;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color:white !important;
	background-color: #6c757d !important;
}
#v-pills-tab {
	width: 39%;
}
