﻿@model LendingNews.ViewModels.LoginModel

<br /><br />
<div class="container">
    <div class="d-flex justify-content-center">
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <h2>Вход на сайт</h2>

            <div class="form-group">
                @Html.LabelFor(x => x.Login, "Введите логин:")<br />
                @Html.TextBoxFor(x => x.Login, new { @class = "form-control", @style= "width:350px;" })
                @Html.ValidationMessageFor(x => x.Login, "", new { @class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Password, "Введите пароль:")<br />
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @style = "width:350px;" })
                @Html.ValidationMessageFor(x => x.Login, "", new{@class = "text-danger"})
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-outline-dark" style="float:right"/>
            </div>
        </form>
    </div>
</div>